/* Media */
/* Colors */
/* Layout */
.nice-slider {
  position: relative;
  height: 50px;
  background-color: #779ECB; }

.nice-slider-needle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  color: white; }
  .nice-slider-needle:hover {
    background-color: #666;
    cursor: grab; }
  .nice-slider-needle:active {
    background-color: #777;
    cursor: grabbing; }

.nice-slider-needle-icon {
  pointer-events: none; }
