@import '../../constants';


.nice-slider {
  position: relative;
  height: 50px;
  background-color: $niceBlue;
}

.nice-slider-needle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  color: white;
  cursor: pointer;
}
