@import '../../constants';


.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-container {
  box-sizing: border-box;
  padding: 20px;

  @include breakpoint(mobile) {
    padding-bottom: calc(#{$levelSelectorBottomMobile} + (2 * #{$levelSelectorBorderWidth}) + #{$sliderHeight} + 10px);
    width: 100%;
  }

  @include breakpoint(desktop) {
    padding-bottom: calc(#{$levelSelectorBottomDesktop} + (2 * #{$levelSelectorBorderWidth}) + #{$sliderHeight} + 10px);
    width: $postWidthDesktop;
    margin-top: 50px;
  }
}

.post-metadata {
  font-size: 0.75em;
  color: $niceBlue;
}

.level-selector-container {
  position: fixed;
  display: flex;
  justify-content: center;
  border: solid $levelSelectorBorderWidth #AAA;
  z-index: 100;

  @include breakpoint(mobile) {
    bottom: $levelSelectorBottomMobile;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  @include breakpoint(desktop) {
    bottom: $levelSelectorBottomDesktop;
    right: 150px;
  }
}

.level-selector-needle {
  position: relative;
  z-index: 110;
}

.level-selector-shortcut-tip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  pointer-events: none;
  z-index: 105;
}
