@import '../../constants';


.main {
  width: 100%;
}

.post-container {
  box-sizing: border-box;
  padding: 20px;

  @include breakpoint(mobile) {
    padding-bottom: calc(#{$sliderFromBottomMobile} + #{$sliderHeight} + 10px);
    width: 100%;
  }

  @include breakpoint(desktop) {
    margin: 75px 225px;
    width: 500px;
  }
}

.post-metadata {
  font-size: 0.75em;
  color: $niceBlue;
}

.level-selector-container {
  position: fixed;
  display: flex;
  justify-content: center;

  @include breakpoint(mobile) {
    bottom: 5vh;
    width: 100%;
  }

  @include breakpoint(desktop) {
    right: 25vw;
    bottom: 50vh;
  }
}
