/* Media */
/* Colors */
/* Layout */
/* Media */
/* Colors */
/* Layout */
.main {
  width: 100%;
  display: flex;
  justify-content: center; }

.post-container {
  box-sizing: border-box;
  padding: 20px; }
  @media (max-width: 480px) {
    .post-container {
      padding-bottom: calc(30px + (2 * 5px) + 50px + 10px);
      width: 100%; } }
  @media (min-width: 481px) {
    .post-container {
      padding-bottom: calc(50px + (2 * 5px) + 50px + 10px);
      width: 600px;
      margin-top: 50px; } }

.post-body {
  font-size: 0.9em; }

.post-metadata-container {
  padding-bottom: 10px;
  border-bottom: solid 1px #DDD;
  font-size: 0.75em;
  color: #779ECB; }

.post-metadatum {
  margin-bottom: 7px; }

.level-selector-container {
  position: fixed;
  display: flex;
  justify-content: center;
  border: solid 5px #AAA;
  z-index: 100; }
  @media (max-width: 480px) {
    .level-selector-container {
      bottom: 30px;
      right: 0;
      left: 0;
      margin: 0 auto; } }
  @media (min-width: 481px) {
    .level-selector-container {
      bottom: 50px;
      right: 150px; } }

.level-selector-needle {
  position: relative;
  z-index: 110; }

.level-selector-shortcut-tip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  pointer-events: none;
  z-index: 105; }

/* Media */
/* Colors */
/* Layout */
.nice-slider {
  position: relative;
  height: 50px;
  background-color: #779ECB; }

.nice-slider-needle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  color: white; }
  .nice-slider-needle:hover {
    background-color: #666;
    cursor: grab; }
  .nice-slider-needle:active {
    background-color: #777;
    cursor: grabbing; }

.nice-slider-needle-icon {
  pointer-events: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #444; }
