/* Media */
/* Colors */
/* Layout */
.main {
  width: 100%; }

.post-container {
  box-sizing: border-box;
  padding: 20px; }
  @media (max-width: 480px) {
    .post-container {
      padding-bottom: calc(5vh + 50px + 10px);
      width: 100%; } }
  @media (min-width: 481px) {
    .post-container {
      margin: 75px 225px;
      width: 500px; } }

.post-metadata {
  font-size: 0.75em;
  color: #779ECB; }

.level-selector-container {
  position: fixed;
  display: flex;
  justify-content: center; }
  @media (max-width: 480px) {
    .level-selector-container {
      bottom: 5vh;
      width: 100%; } }
  @media (min-width: 481px) {
    .level-selector-container {
      right: 25vw;
      bottom: 50vh; } }
