/* Media */

$mobileDesktopSplit: 480px;

@mixin breakpoint($device-category) {
  @if $device-category == mobile {
    @media (max-width: $mobileDesktopSplit) { @content ; }
  }
  @else if $device-category == desktop {
    @media (min-width: $mobileDesktopSplit+1)  { @content ; }
  }
}


/* Colors */

$niceBlue: #779ECB;


/* Layout */

$postWidthDesktop: 500px;
$levelSelectorBottomMobile: 30px;
$levelSelectorBottomDesktop: 50px;
$levelSelectorBorderWidth: 5px;
$sliderHeight: 50px;
