/* Media */

$mobileDesktopSplit: 480px;

@mixin breakpoint($device-category) {
  @if $device-category == mobile {
    @media (max-width: $mobileDesktopSplit) { @content ; }
  }
  @else if $device-category == desktop {
    @media (min-width: $mobileDesktopSplit+1)  { @content ; }
  }
}


/* Colors */

$niceBlue: #779ECB;


/* Layout */

$sliderHeight: 50px;
$sliderFromBottomMobile: 5vh;
